<h1 class="text-center">Classic Wow Gear Simulator<span class="ml-2" style="font-size: 8px;"><i>by Mathom</i></span></h1>
<h6 class="text-center">Defective - USEast - Sulfuras</h6>
<div class="container">
  <div class="row">
    <form class="container" method="post">
      <div class="card mt-3">
        <div class="card-header">
          <h5 class="card-title">Simulation Options</h5>
        </div>
        <div class="card-body">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="simulations[]" value="single" checked>
            <label class="form-check-label">Single Simulation</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="simulations[]" value="comparison" disabled>
            <label class="form-check-label">Comparison Simulation</label>
          </div>
          <div class="form-group mt-3">
            <label for="select_class" class="mb-0">Select class:</label>
            <select class="form-control" style="width: auto;" name="select_class" id="select_class">
              <option disabled>Caster DPS</option>
              <option disabled>-------------</option>
                <option value="druid_moonkin" disabled>Druid - Moonkin</option>
                <option value="mage">Mage</option>
                <option value="priest_shadow" disabled>Priest - Shadow</option>
                <option value="shaman_elemental" disabled>Shaman - Elemental</option>
                <option value="warlock" disabled>Warlock</option>
              <option disabled>-------------</option>
              <option disabled>Healing</option>
              <option disabled>-------------</option>
                <option value="druid_resto" disabled>Druid - Restoration</option>
                <option value="paladin" disabled>Paladin</option>
                <option value="priest" disabled>Priest</option>
                <option value="shaman_resto" disabled>Shaman - Restoration</option>
              <option disabled>-------------</option>
              <option disabled>Melee DPS</option>
              <option disabled>-------------</option>
                <option value="druid_feral" disabled>Druid - Feral</option>
                <option value="paladin_dps" disabled>Paladin - Retribution/Protection</option>
                <option value="rogue" disabled>Rogue</option>
                <option value="shaman_enhancement" disabled>Shaman - Enhancement</option>
                <option value="warrior" disabled>Warrior</option>
              <option disabled>-------------</option>
              <option disabled>Ranged Physical DPS</option>
              <option disabled>-------------</option>
                <option value="hunter" disabled>Hunter</option>
            </select>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>Fight Duration</h5>
            </div>
            <div class="card-body">
              <div class="form-group" id="durations">
                <div class="row">
                  <div class="col">
                    <span>Short:</span>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="durations[]" value="30" 
                              <%= "checked" if params.fetch("durations", ["60"]).include? "30" %>>
                      <label class="form-check-label">30 seconds</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="durations[]" value="60" 
                              <%= "checked" if params.fetch("durations", ["60"]).include? "60" %>>
                      <label class="form-check-label">1 minute</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="durations[]" value="90" 
                              <%= "checked" if params.fetch("durations", ["60"]).include? "90" %>>
                      <label class="form-check-label">90 seconds</label>
                    </div>
                  </div>
                  <div class="col">
                    <span>Medium:</span>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="durations[]" value="120"
                              <%= "checked" if params.fetch("durations", ["60"]).include? "120" %>>
                      <label class="form-check-label">2 minutes</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="durations[]" value="180"
                              <%= "checked" if params.fetch("durations", ["60"]).include? "180" %>>
                      <label class="form-check-label">3 minutes</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="durations[]" value="240"
                              <%= "checked" if params.fetch("durations", ["60"]).include? "240" %>>
                      <label class="form-check-label">4 minutes</label>
                    </div>
                  </div>
                  <div class="col">
                    <span>Long:</span>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="durations[]" value="300" 
                              <%= "checked" if params.fetch("durations", ["60"]).include? "300" %>>
                      <label class="form-check-label">5 minutes</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="durations[]" value="360"
                              <%= "checked" if params.fetch("durations", ["60"]).include? "360" %>>
                      <label class="form-check-label">6 minutes</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="durations[]" value="600"
                              <%= "checked" if params.fetch("durations", ["60"]).include? "600" %>>
                      <label class="form-check-label">10 minutes</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary mt-3">Run Simulation</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card mt-3 mb-3 mr-1" id="spell_options">
            <div class="card-header">
              <h5>Spell to Use for Simulation</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <% @mage_spells.each_with_index do |(spell, spell_ranks), index1| %>
                  <% spell_ranks.keys.each_with_index do |(spell_name, spell_info), index2| %>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="spell_ranks[]" value="<%= spell_name %>" 
                              <%= "checked" if params.fetch("spell_ranks", ["frostbolt_rank_10"]).include?(spell_name.to_s) %>>
                      <label class="form-check-label"><%= spell_name.to_s.humanize.titleize %></label>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card mt-3 mb-3 mr-1" id="gear_set1">
            <div class="card-header">
              <h5>Gear Set 1</h5>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <span style="font-style: italic; font-size: 12px">(<b>Note:</b> values should include your character's base stats, stats from gear, and stats from enchants only. <b>Do not include any set bonuses.</b>)</span>
              </div>
              <div class="form-group" id="gear_set1_body">
                <label class="mb-0">Total Mana:</label>
                <input class="form-control mb-3" type="text" name="gear_set1[mana]" placeholder="0"
                        value="<%= params.dig("gear_set1", "mana") || "0" %>">
                <label class="mb-0">Total Intelligence:</label>
                <input class="form-control mb-3" type="text" name="gear_set1[intelligence]" placeholder="0"
                        value="<%= params.dig("gear_set1", "intelligence") || "0" %>">
                <label class="mb-0">Total Spirit:</label>
                <input class="form-control mb-3" type="text" name="gear_set1[spirit]" placeholder="0"
                        value="<%= params.dig("gear_set1", "spirit") || "0" %>">
                <label class="mb-0">Total mp5 (mana per 5):</label>
                <input class="form-control mb-3" type="text" name="gear_set1[mp5]" placeholder="0"
                        value="<%= params.dig("gear_set1", "mp5") || "0" %>">
                <label class="mb-0">Total Spell Damage:</label>
                <input class="form-control mb-3" type="text" name="gear_set1[spell_damage]" placeholder="0"
                        value="<%= params.dig("gear_set1", "spell_damage") || "0" %>">
                <label class="mb-0">Total Hit Chance%:</label>
                <input class="form-control mb-3" type="text" name="gear_set1[spell_hit_chance]" placeholder="0"
                        value="<%= params.dig("gear_set1", "spell_hit_chance") || "0" %>">
                <label class="mb-0">Total Crit Chance%:</label>
                <input class="form-control mb-3" type="text" name="gear_set1[spell_crit_chance]" placeholder="0"
                        value="<%= params.dig("gear_set1", "spell_crit_chance") || "0" %>">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mt-3 mb-3 ml-1" id="mana_regen">
            <div class="card-header">
              <h5>Mana Regen</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <% @mana_regen.each do |item, item_options| %>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="mana_regen[]" value="<%= item %>"
                            <%= "checked" if params.fetch("mana_regen", [""]).include? item.to_s %>>
                    <label class="form-check-label">Use <%= item_options[:display] %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card mt-3 mb-3 ml-1" id="activated_items">
            <div class="card-header">
              <h5>Activated Items</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <% @activated_items.each do |item, item_options| %>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="activated_items[]" value="<%= item %>"
                            <%= "checked" if params.fetch("activated_items", [""]).include? item.to_s %>>
                    <label class="form-check-label">Use <%= item_options[:display] %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card mt-3 mb-3 ml-1" id="set_bonuses">
            <div class="card-header">
              <h5>Set Bonuses</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <% @set_bonuses.each do |set_bonus, set_bonus_options| %>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="set_bonuses[]" value="<%= set_bonus %>"
                            <%= "checked" if params.fetch("set_bonuses", [""]).include? set_bonus.to_s %>>
                    <label class="form-check-label">Include <%= set_bonus_options[:display] %> Set Bonus</label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card mt-3 mb-3 ml-1" id="talents">
            <div class="card-header">
              <h5>Talents</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <% @activated_talents.each do |talent, talent_options| %>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="activated_talents[]" value="<%= talent %>"
                            <%= "checked" if params.fetch("activated_talents", [""]).include? talent.to_s %>>
                    <label class="form-check-label">Include <%= talent_options[:display] %></label>
                  </div>
                <% end %>
                <% @permanent_talents.each do |talent, talent_options| %>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="permanent_talents[]" value="<%= talent %>"
                            <%= "checked" if params.fetch("permanent_talents", [""]).include? talent.to_s %>>
                    <label class="form-check-label">Include <%= talent_options[:display] %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card mt-3 mb-3 ml-1" id="buffs_and_debuffs">
            <div class="card-header">
              <h5>Buffs and Debuffs</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <% @debuffs.each do |debuff, debuff_options| %>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="debuffs[]" value="<%= debuff %>"
                            <%= "checked" if params.fetch("debuffs", [""]).include? debuff.to_s %>>
                    <label class="form-check-label">Include <%= debuff_options[:display] %></label>
                  </div>
                <% end %>
                <% @buffs.each do |buff, buff_options| %>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="buffs[]" value="<%= buff %>"
                            <%= "checked" if params.fetch("buffs", [""]).include? buff.to_s %>>
                    <label class="form-check-label">Include <%= buff_options[:display] %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card mt-3 mb-3 ml-1" id="consumables">
            <div class="card-header">
              <h5>Consumables</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <% @consumables.each do |consumable, consumable_options| %>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="consumables[]" value="<%= consumable %>"
                            <%= "checked" if params.fetch("consumables", [""]).include? consumable.to_s %>>
                    <label class="form-check-label">Include <%= consumable_options[:display] %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <% if @output %>
    <div class="row">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Results</h5>
          <hr/>
          <table class="table table-striped" id="results">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Description</th>
                <th scope="col">Values</th>
              </tr>
            </thead>
            <tbody>
              <% @output.each_with_index do |output_line, index| %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= output_line[0] %></td>
                  <td><%= output_line[1] %></td>
                  <td>
                    <% output_line[2].split(';').each do |text_new_line| %>
                      <p class="mb-0">
                        <%= text_new_line %>
                      </p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <table class="table table-sm table-primary">
            <h1 class="text-center">TOTALS</h1>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Metric</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <% @totals.each_with_index do |(metric, value), index| %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= metric.to_s.humanize.titleize %></td>
                  <td><%= value %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>